@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Kenia&family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Righteous&family=Roboto:ital,wght@0,500;0,700;0,900;1,400&family=Rye&display=swap");

body {
  font-family: "Righteous", sans-serif;
}

.review {
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.season {
  width: 30rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(248, 244, 247);
  position: absolute;
  padding: 8rem 2rem;
  line-height: normal;
}

.place {
  display: flex;
  position: absolute;
  color: whitesmoke;
  margin: 5rem 3rem;
}

.info {
  width: 60%;
  color: rgb(244, 240, 243);
  position: absolute;
  padding: 25rem 2rem;
}

.btn {
  display: flex;
  position: absolute;
  gap: 1rem;
  margin-top: 25rem;
  margin-left: 55rem;
  background-color: transparent;
  color: whitesmoke;
}

.btn-prev,
.btn-next {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(246, 243, 243);
}
